@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #ff982b;
    --secondary-color: #CABAFF;
    --tertiary-color: #c2ff19;
    --quarternary-color: #4F7AFF;
    --quinary-color: #FF5C5C;
    --senary-color: #FFC15C;
    --septenary-color: #F739F4;
    --octonary-color: #FF5900;
    --nonary-color: #73FFB9;
    --color-1: #FFF0BA;
    --color-2: #ffffff;
    --color-3: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Caveat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: Playfair Display, Caveat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: Playfair Display, Caveat;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
}

h1 {
    font-size: 2.5rem;
}

.text-container {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--color-2);
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    background-color: var(--secondary-color);
}

.tertiary {
    background-color: var(--tertiary-color);
}

.quarternary {
    background-color: var(--quarternary-color);
}

.quinary {
    background-color: var(--quinary-color);
}

.senary {
    background-color: var(--senary-color);
}

.septenary {
    background-color: var(--septenary-color);
}

.octonary {
    background-color: var(--octonary-color);
}

.nonary {
    background-color: var(--nonary-color);
}